.booking {
  background-color: $color-dodger-blue;
  background-image: url("../img/form-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: (1024px)) {
    @include retina {
      background-image: url("../img/form-bg@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/form-bg-tablet.webp");
    box-shadow: none;

    @include retina {
      background-image: url("../img/form-bg-tablet@2x.webp");
    }
  }

  @include vp-374 {
    background-image: url("../img/form-bg-mobile.webp");

    @include retina {
      background-image: url("../img/form-bg-mobile@2x.webp");
    }
  }
}

.booking__container {
  padding: 49px calc(60 / 1160) * 100%;
  display: flex;

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding-top: 55px;
    padding-bottom: 65px;
  }
}

.booking__description {
  width: calc(493 / 1040) * 100%;
  margin-right: calc(144 / 1040) * 100%;
  padding-top: 163px;

  @include vp-1023 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 38px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.booking__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;

  @include vp-1023 {
    margin-bottom: 4px;
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 6px;
  }
}

.booking__description p {
  width: calc(352 / 493) * 100%;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;

  @include vp-1023 {
    width: calc(352 / 678) * 100%;
  }

  @include vp-767 {
    width: 95%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.booking__form {
  width: calc(403 / 1040) * 100%;
  min-width: 350px;
  max-width: 403px;

  @include vp-1023 {
    width: calc(403 / 678) * 100%;
  }

  @include vp-767 {
    width: 100%;
    min-width: 260px;
  }
}
