.main-header__container {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main-header__logo {
  margin-right: auto;
}

.main-header__nav {
  @include vp-767 {
    display: none;
  }
}

.main-header--no-js .main-header__nav,
.is-menu-opened .main-header__nav {
  @include vp-767 {
    position: static;
    display: block;
    width: 100%;
    margin-top: 35px;
    order: 2;
  }
}

.is-menu-opened .main-header__.main-nav__list {
  @include vp-767 {
    margin-top: -8px;
    margin-bottom: -8px;
  }
}


.is-menu-opened .main-nav__item {
  @include vp-767 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.main-header--no-js .main-nav__link {
  @include vp-767 {
    color: $color-alice-blue;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      color: $color-gorse;
    }
  }
}

.is-menu-opened .main-nav__link {
  @include vp-767 {
    color: $color-default-text;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      color: $color-gorse;
    }
  }
}

.main-header--no-js .main-header__button-toogle {
  @include vp-767 {
    display: none;
  }
}

.is-menu-opened .main-header__container {
  @include vp-767 {
    position: absolute;
    top: 0;
    left: 35px;
    right: 0;
    z-index: 10;
    height: 100vh;
    align-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $color-alice-blue;
    overflow: auto;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -36px;
    bottom: 0;
    right: 100%;
    z-index: -2;
    content: none;
    background-color: rgba(0, 43, 102, 0.5);
    }
}

.is-menu-opened .main-header__container::before {
  @include vp-767 {
    content: "";
  }
}

.main-header--no-js .logo__img {
  @include vp-767 {
    fill: $color-alice-blue;
  }
}

.is-menu-opened .logo__img {
  @include vp-767 {
    fill: $color-default-text;
  }
}

.is-menu-opened .button-toogle__img-open {
  @include vp-767 {
    display: none;
  }
}

.is-menu-opened .main-header__nav {
  @include vp-767 {
    padding-left: 11px;
    background-color: $color-alice-blue;
  }
}

.is-menu-opened .button-toogle__img-close {
  @include vp-767 {
    display: block;
  }
}
