.main-footer {
  background-color: $color-default-text;
}

.main-footer__container {
  padding-top: 50px;
  padding-bottom: 45px;
  display: flex;
  align-items: start;

  @include vp-1023 {
    padding-bottom: 47px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 35px;
    flex-direction: column;
  }
}

.main-footer__logo {
  margin-right: calc(40 / 1160) * 100%;

  @include vp-1023 {
    margin-right: calc(27 / 678) * 100%;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.main-footer__nav {
  margin-right: auto;

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
    align-self: stretch;
  }
}

.main-footer__socials {
  margin-left: 30px;

  @include vp-1023 {
    margin-left: 20px;
  }

  @include vp-767 {
    margin-left: -8px;
  }
}
