.map {
  width: 100%;
  height: 100%;

  &--no-js .map__img-wrapper {
    display: block;
  }
}

.map__img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.map__img-wrapper img {
  outline: 1px solid blue;
  width: auto;
  height: auto;
  max-width: none;
  margin-top: -30px;
  margin-left: -20px;
}
