.socials__list {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  column-gap: 17px;
  row-gap: 10px;
  list-style: none;

  @include vp-1023 {
    margin-top: -4px;
    grid-template-columns: repeat(3, 26px);
    column-gap: 11px;
  }

  @include vp-767 {
    grid-template-columns: repeat(7, 26px);
  }
}

.socials__link {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .socials__link-img {
    fill: $color-gorse;
  }

  &:focus-visible {
    outline: 1px solid $color-gorse;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.7;
  }
}

.socials__link-img {
  fill: $color-alice-blue;
  transition: fill $trans-default;

  &--ok {
    @include vp-1023 {
      width: 9.64px;
      height: 16px;
    }
  }

  &--dzen {
    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }

  &--reddit {
    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }
}
